<div class="content-sms-artist">
  <div class="ui list-conv">
    <%OrderProduct.all.each do |i|%>
      <%if i.order.user == current_user %>
        <div class="item-conv">
          <h5><%= link_to i.product.admin.nickname ,conversations_path(sender_id: current_user.id, recipient_id: i.product.admin.id), method: "post" ,class: "item-name"%></h5>
          
        </div>
      <% elsif current_user.artist == true && i.order.user == current_user %>
        <div class="item-conv">
          <h5><%= link_to i.order.user.first_name ,conversations_path(sender_id: current_user.id, recipient_id:  i.order.user.id), method: "post" ,class: "item-name"%></h5>
        </div>
        <%end%>
    <% end %>
  </div>
  <div class="container-sms">
    <div class="scroll-sms">
      <div class="ui segment">
        <% @messages.each do |message| %>
          <% if message.body %>
            <% user = User.find(message.user_id) %>
            <div class="item">
              <div class="content-sms">
                <div class="header-sms">
                  <% if user == current_user %>
                    <div class="group-sms-current_user">
                      <div class="current_user-sms">
                        <strong><%= user.first_name %></strong>     
                        <%= message.message_time %>
                      </div>
                      <br/>
                      <div class="list-sms">
                        <p class="sms-body"><%= message.body %></p>
                      </div>
                      <br/>
                    </div>
                  <% else %>
                    <div class="group-sms-user">
                      <div class="user-sms">
                        <strong><%= user.first_name %></strong>     
                          <%= message.message_time %>
                        </div>
                        <div class="list">
                          <p class="sms-body"><%= message.body %></p>  
                        </div>  
                      </div>
                  <%end%> 
                    </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    
    <%= form_for [@conversation, @message] do |f| %>
      <div class="group-sms">
        <%= f.text_area :body, class: "form-control" %>
        <%= f.submit "Envoyer", class: "btn-primary btn btn-sms"%>
      </div>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
    <% end %>
    </div>
  </div>
</div>



        