

<%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= render "devise/shared/error_messages", resource: resource %>

<div id="container">

  <h1 style="margin-top: 10px;">&bull; Modifié Mon profile &bull;</h1>
  <div class="underline">
  </div>
  
  <div class="icon_wrapper">
    
  </div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name) , html: { method: :put }) do |f| %>
  <form action="#" method="post" id="contact_form">
    <div class="phone">
      <%= f.text_field :first_name, placeholder: "Prénom *"%>
    </div>    
    <div class="phone">
      <%= f.text_field :last_name,  placeholder: "Nom *"%>
    </div>
    <div class="phone">
      <%= f.text_field :adress,  placeholder: "Adresse *" %>
    </div>
    <div class="phone">
      <%= f.text_field :city,  placeholder: "Ville *" %>
    </div>
    <div class="phone">
      <%= f.text_field :phone_number, value:"+33",  placeholder: "+33" %>
    </div>
    <div class="phone">
      <%= f.password_field :current_password,  class:"phone mdp", placeholder:"Mot de passe actuel"  %>
    </div> 
    <div class="subject">
      <div style="display: inline-block;"><p style="font-size: 0.9375rem;">Êtes vous un artist ?</p>
      <p>Non<%= f.radio_button :artist, false %></p>
      <p>Oui<%= f.radio_button :artist, true %></p>
    </div>
    </div>
    <div class="submit">
       <%= f.submit "Modifié", id:"form_button"%>
    </div>
  </form>
  <% end %>
</div>
  
    



<div class="submit">
  <p><%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes vous sure ?" }, method: :delete, class: "btn btn-primary" %></p>
</div>