

  <%= render "devise/shared/error_messages", resource: resource %>

  <div id="container">

  <h1 style="margin-top: 10px;">&bull; Mon profil &bull;</h1>
 
<%= form_for(resource, as: resource_name, url: registration_path(resource_name) , html: { method: :put }) do |f| %>
  <form action="#" method="post" id="contact_form">
    <% if current_user.artist == true%>
      <div class="">
        <%= f.text_field :nickname, placeholder: "Nom d'artiste*"%>
      </div>  
    <% end %>
    <div class="">
      <%= f.text_field :first_name, placeholder: "Prénom *"%>
    </div>    
    <div class="">
      <%= f.text_field :last_name,  placeholder: "Nom *"%>
    </div>
    <div class="">
      <%= f.text_field :adress,  placeholder: "Adresse *" %>
    </div>
    <div class="">
      <%= f.text_field :city,  placeholder: "Ville *" %>
    </div>
    <div class="">
      <%= f.text_field :phone_number, value:"+33",  placeholder: "+33" %>
    </div>
    <div class="">
      <%= f.password_field :current_password,  class:" phone box-mdp mb-4", placeholder:"Mot de passe actuel"%>
    </div> 
    
    <div class=" mt-3">
       <%= f.submit "Modifier", id:"form_button"%>
        <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes vous sure ?" }, method: :delete, class: "btn btn-danger float-right btn-delete " %>
    </div> 
  </form>
  <% end %>
</div>
  
    



