salut <%= @user.email %>

merci pour tes achats voici un petit recap
numeros de commande : <%= @order.id %> ,montant :<%=@order.amount%>
<% @cart.products.each do |product| %>
      <% if product.avatar.attached?%>
        <%= image_tag product.avatar, class: "show-img"%>
      </a>
      <% else %>
        <img src="<%= product.image_url%>" class="show-img">
      </a>
  <%end %>
<% end %>
    <h1>comment ça se passe ?</h1>

    <h2> Cas numeros 1 : Tu achètes ?</h2>
    <p>Nous envoyons tes coordonnés à l'artiste, ensemble vous convenez d'une date de rendez<p>
    <p>l'artiste viens chez toi, accroche l'oeuvre, et c'est a toi , simple non ?</p>
    <p>Ce tableau a une histoire et l'artiste est la pour te la raconter en plus ! genial :)</p>
    <p>ART FMR te remercie pour la confiance que tu donnes à nos artistes , enjoy :)</p>

    <h2> Cas numeros 2 : tu loue ?</h2>  
    <p>Nous envoyons tes coordonnés à l'artiste, ensemble vous convenez d'une date de rendez<p>
    <p>l'artiste viens chez toi, accroche l'oeuvre, et c'est a toi pour 1 mois !, simple non ?</p>
    <p>Ce tableau a une histoire et l'artiste est la pour te la raconter en plus ! genial :)</p>
    <p> Si tu craque pour l'oeuvre n'hesite pas a prolonger ou acheter directement l'oeuvre depuis ton 
    espace profil sur ART FMR </p>
    <p>ART FMR te remercie pour la confiance que tu donnes à nos artistes , enjoy :)</p>

    <h2> Cas numeros 3 : tu prolonge ta location ?</h2> 

    <p>Super, tu adore ce tableau, et tu souhaite encore en profiter, c'est tout bon pour nous !</p>
    <p>Tu dispose d'un mois de plus, et tu peux te rendre sur ton espace profil d'ART FMR pour savoir
    quand ta location se termineras</p>
    <p>ART FMR te remercie pour la confiance que tu donnes à nos artistes , enjoy :)</p>

    <h2> Cas numeros 4 : Tu achètes ta location  ?</h2>
    <p>C'est le coup de coeur, merci pour ta confiance. </p>
    <p>on vous souhaite une belle vie tout les deux </p>
    <p>ART FMR te remercie pour la confiance que tu donnes à nos artistes , enjoy :)</p>
    