<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour</h1>
      
    <%if @order_product.status == "sold" && @order_product.renting_time == nil%>

    <h1> <%=@user.first_name%> <%=@user.last_name%> viens d'acheter votre oeuvre !!!</h1>

      <% if @order_product.product.avatar.attached?%>
        <%= image_tag @order_product.product.avatar, class: "show-img"%></a>
      <% else %>
        <img src="<%= @order_product.product.image_url%>" class="show-img"></a>
      <%end %>

      <p>montant: <%= @order_product.product.price%> </p>
      <p>Voici les coordonnées de votre acheteur</p>
      <p>Prenez contact, et organisez votre rendez-vous</p>
      <%=@user.first_name%><br/>
      <%=@user.last_name%><br/>
      <%=@user.email%><br/>
      <%=@user.phone_number%><br/>
      <%=@user.city%><br/>
      <%=@user.adress%><br/>
      <p>Bonne continuation et bravo pour votre vente </p>
      <%end%>

    <%if @order_product.status == "sold" && @order_product.renting_time != nil%>
    <h1> <%=@user.first_name%> <%=@user.last_name%> viens d'acheter votre oeuvre !!!</h1>
    <% if @order_product.product.avatar.attached?%>
        <%= image_tag @order_product.product.avatar, class: "show-img"%></a>
      <% else %>
      <img src="<%= @order_product.product.image_url%>" class="show-img"></a>
      <%end %>
      <p><%= @order_product.product.price%> - <%=@order_product.renting_time%> mois de locations ( soit <%=@order_product.renting_time * 50%> euros ) </p>
      <p>montant: <%= @order_product.product.price - (@order_product.renting_time * 50)%> euros </p>
      <p>Vous n'avez rien a faire juste profitez et si vous le souhaité vous pouvez 
      appeler <%=@user.first_name%> au <%=@user.phone_number%> pour prendre des nouvelles de votre bébé</p>
      <p> Bravo pour votre vente !</p>
    <%end%>


    <%if @order_product.status == "rent" && @order_product.renting_time == 1%>
     <h1><%=@user.first_name%> <%=@user.last_name%> souhaite louer votre oeuvre intitulé <%=@order_product.product.title%></h1>
    <% if @order_product.product.avatar.attached?%>
        <%= image_tag @order_product.product.avatar, class: "show-img"%></a>
      <% else %>
        <img src="<%= @order_product.product.image_url%>" class="show-img"></a>
        <%end %>
       <p>montant: 50 euros </p>
       <p>Voici les coordonnées de votre acheteur</p>
      <p>Prenez contact, et organisez votre rendez-vous</p>
      <%=@user.first_name%><br/>
      <%=@user.last_name%><br/>
      <%=@user.email%><br/>
      <%=@user.phone_number%><br/>
      <%=@user.city%><br/>
      <%=@user.adress%><br/>
      <p>Une fois l'oeuvre posée chez l'artiste, validé votre location en vous rendant dans votre espace profil ART FMR !!
      et cliquer sur le bouton "confirmer l'accrochage de l'oeuvre".</p>
      <p>Celle ci enclencheras le date du debut de la location</p>
      <p>Bonne continuation et bravo pour votre location </p>
       
      
     <%end%>


     <%if @order_product.status == "rent" && @order_product.renting_time > 1%>
     <h1><%=@user.first_name%> <%=@user.last_name%> viens de prolonger la location de votre oeuvre intitulé <%=@order_product.product.title%>!!!</h1>
    <% if @order_product.product.avatar.attached?%>
        <%= image_tag @order_product.product.avatar, class: "show-img"%></a>
      <% else %>
        <img src="<%= @order_product.product.image_url%>" class="show-img"></a>
        <%end %>
      <p>montant: 50 euros </p>
      <p><%=@user.first_name%> <%=@user.last_name%> prolonge son mois de location jusqu'au <%=@order_product.end_date%></p>
      
     <%end%>
 
    
    
    
    
    
     

     
    