<div class="artist-profil-for-artlover">
  <div class="photo-profil pt-4 ">
    <% if @user.avatar.attached?%>
      <a><%= image_tag @user.avatar, class:"product p-0 m-2"%></a>
    <% else %>
      <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"  class="product p-0 m-2">
    <%end%>
    <div class="number-location-buy-favorites">
      <div class=" description-artist-profil m-2 d-flex ">
        <p class="ml-5" style= "color: red; font-size:75px;"><%= @user.nickname%></p><br/>
        <p class="align-self-end" style= "font-size:20px;">De <%= @user.city%></p>
      </div>
    </div>
</div>
<div class="my-art-all">
  <h4 class="text-center">Ses oeuvres</h4>
  <div class="my-art">
    <% Product.all.each do |i|%>
      <% if i.admin_id == @user.id%>
        <% if i.avatar.attached?%>
          <%=link_to product_path(id: i.id) do %>
            <%= image_tag i.avatar, class:"img-my-art "%>
          <%end%>
        <% else %>
          <%=link_to product_path(id: i.id) do %>
            <%=image_tag i.image_url , class:"img-my-art "%>
          <%end%>
        <% end %>
      <% end %>
    <% end %>  
  </div>
</div>






    
      
  </div>
</div>


