<!--debut : AU cas ou j'aurais oublier du code

<div class="row ">
    <div class="col-md-3 ">

        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover1">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3"><img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="..." width="130" class="rounded mb-2 img-thumbnail"><a href="#" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a></div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0"><%=@user.last_name%> <%=@user.first_name%></h4>
                        <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>Artist</p>
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
					<%sum_like = 0%> 
         <%Order.all.each do |order_product|%>


          <%if order_product.user == current_user%>
           <% order_product.order_products.each do |i|%>
            <% if i.order.user == current_user && i.start_date != nil && i.end_date > DateTime.now%>
			<%i%>
            <% sum_like += sum_like + 1%>
          <%end%>
       <% end%>
    <%end%>
<%end%>
         <% sum_like%>
         
					
					 
					
                        <h5 class="font-weight-bold mb-0 d-block">215</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Mes locations</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">745</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Mes achats</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">340</h5><small class="text-muted"> <i class="fas fa-user mr-1">Mes favoris</i></small>
                    </li>
                </ul>
            </div>
            <div class="px-4 py-3">
                <h5 class="mb-0">Mes informations</h5>
                <div class="p-4 rounded shadow-sm bg-light">
				
                    <p class="font-italic mb-0"><%=@user.last_name%> <%=@user.first_name%></p>
                    <p class="font-italic mb-0"><%=@user.city%></p>

					
					<p class="font-italic mb-0"><%=@user.adress%></p>
					<p class="font-italic mb-0">0<%=@user.phone_number%></p>
					<p class="font-italic mb-0"><%=@user.email%></p>
					
					</br>
					
	                <%= link_to 'Modifié Mon profile', edit_user_registration_path , class: "link-show-user"%><br/>
					<%= link_to "Voir mes messages", conversation_messages_path(1), class: "link-show-user" %>
        
					
                </div>
            </div>
            <div class="bg-light p-2 d-flex justify-content-end text-center">
                <ul class="list-inline">
              <h4 class="font-italic" >Mes oeuvres<h4>
            <div class="img-group">
            <% Product.all.each do |i|%>
              <% if i.admin_id == @user.id%>
                <% if i.avatar.attached?%>
							    <li class="col-lg-6 mb-2 pr-lg-1" >
                    <%= image_tag i.avatar, class: "img-fluid rounded shadow-sm"%>
                      
                      <%= link_to "Modifier", edit_product_path(i.id) , class: "btn btn-dark btn-sm"%>
                  </li>
								<% else %>
                                <li class="col-lg-6 mb-2 pr-lg-1" >
									<div class="col-lg-4 mb-2 pr-lg-1"><img src="<%=i.image_url%>" alt="" class="img-fluid rounded shadow-sm"></div>
                                </li>
                                <% end %>
               
              
              <% end %>
            <% end %>  
            </div>
            </ul>
            
            </div>
            </div>
        </div>
    

<div class="col-md-3 ">

<div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover2">
                <div class="media align-items-end profile-head">
                    
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">Mes favoris</h4>
                        <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i></p>
                    </div>
                </div>
            </div>
			</div>
			<div class="bg-light p-4 d-flex justify-content-end text-center">
								<div class="row">
								<% Like.all.each do |i|%>
													<%if i.user_id == @user.id %>
														<% Product.all.each do |j|%>
															<% if i.product_id == j.id %>
																<% if j.avatar.attached?%>
												          <div class="col-lg-4 mb-2 pr-lg-1" ><%= image_tag j.avatar, class: "img-fluid rounded shadow-sm"%></div>
																<% else %>
																	<div class="col-lg-4 mb-2 pr-lg-1"><img src="<%=j.image_url%>" alt="" class="img-fluid rounded shadow-sm"></div>
																<% end %>
															<% end %>
														<% end %>
												<% end %>

											<% end %>
								</div>
</div>
</div>
<div class="col-md-3 ">

<div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover3">
                <div class="media align-items-end profile-head">
                    
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">Mes locations</h4>
                        <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i></p>
                    </div>
                </div>
            </div>
			</div>
			<div class="bg-light p-4 d-flex justify-content-end text-center">
								<div class="row">
								<% OrderProduct.all.each do |i|%>
									<%if i.order.user.id == @user.id && i.product.status == "rented"%>
										
											<% if i.product.avatar.attached?%>
											<div class="col-lg-4 mb-2 pr-lg-1"><img src="<%= image_tag i.product.avatar%>" alt="" class="img-fluid rounded shadow-sm">
                                            <%if i.customer_confirmation == "validated" && i.artist_confirmation == "validated"%>
											<%= link_to "Prolonger/Acheter definitivement", line_products_path(id: i.product.id), class: "btn btn-primary", :method => 'POST' %>
											   <p><%=((i.end_date - DateTime.now)/1.day).ceil%> jours restants  </p>
											   <p>Expire le <%= i.end_date.day %>/<%=i.end_date.month%>/<%=i.end_date.year%></p> 
                                               <%elsif i.customer_confirmation != "validated"%> 
                                             <%= link_to "Bien reçu !", order_product_path(i), method: :patch, data: {confirm: "Confirmez vous avoir bien reçu l'oeuvre ?"} , style: "text-align: center;", class: " dropdown-item link-cards" %>
                                               <%else%>
                                               <p>merci</p>
                                                <%end%>
                                                <%if i.customer_confirmation != "validated" && i.artist_confirmation != "validated" %>
                                                <%= link_to "annuler", order_product_path(i), method: :delete, data: {confirm: "Êtes-vous sur de vouloir annuler la commande? :("} , class:"fa fa-trash text-dark"%>
											   <%end%>
                                               </div>
                        
												
											<% else %>
											<div class="col-lg-4 mb-2 pr-lg-1"><img src="<%=i.product.image_url%>" alt="" class="img-fluid rounded shadow-sm">

											    <%if i.customer_confirmation == "validated" && i.artist_confirmation == "validated"%>
											<%= link_to "Prolonger/Acheter definitivement", line_products_path(id: i.product.id), class: "btn btn-primary", :method => 'POST' %>
											   <p><%=((i.end_date - DateTime.now)/1.day).ceil%> jours restants  </p>
											   <p>Expire le <%= i.end_date.day %>/<%=i.end_date.month%>/<%=i.end_date.year%></p> 
                                               <%elsif i.customer_confirmation != "validated"%> 
                                             <%= link_to "Bien reçu !", order_product_path(i), method: :patch, data: {confirm: "Confirmez vous avoir bien reçu l'oeuvre ?"} , style: "text-align: center;", class: " dropdown-item link-cards" %>
                                               <%else%>
                                               <p>merci</p>
                                                <%end%>
                                                <%if i.customer_confirmation != "validated" && i.artist_confirmation != "validated" %>
                                                <%= link_to "annuler", order_product_path(i), method: :delete, data: {confirm: "Êtes-vous sur de vouloir annuler la commande? :("} , class:"fa fa-trash text-dark"%>
											   <%end%>
											   </div>
												
											<% end %>
											
									<%end%>
								<%end%> 
								</div>
</div>
</div>
<div class="col-md-3 ">

<div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover4">
                <div class="media align-items-end profile-head">
                    
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">Mes achats</h4>
                        <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i></p>
                    </div>
                </div>
            </div>
		</div>
		<div class="bg-light p-4 d-flex justify-content-end text-center">
								<div class="row">
								<% OrderProduct.all.each do |i|%>
									<%if i.order.user.id == @user.id && i.product.status == "sold"%>
										
											<% if i.product.avatar.attached?%>
                                                <div class="col-lg-4 mb-2 pr-lg-1" ><%= image_tag i.avatar, class: "img-fluid rounded shadow-sm"%></div>
											<% else %>
												<div class="col-lg-4 mb-2 pr-lg-1"><img src="<%=i.product.image_url%>" alt="" class="img-fluid rounded shadow-sm"></div>
											<% end %>
										
									<%end%>
								<%end%>
								</div>
</div>


</div>
</div>

-->




<!--ARTISTS GESTION-->

<div class="first-part">
  <div class="photo-profil">
    <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="..." width="200" class="rounded mb-2 img-thumbnail">
    <div class="number-location-buy-favorites">
      <div class="m-2">
        <p class="mb-0">215</p>
        <small>Mes locations</small>
      </div>
      <div class="m-2">
        <p class="mb-0">745</p>
        <small>Mes Achats</small>
      </div>
      <div class="m-2">
        <p class="mb-0">340</p>
        <small>Mes favoris</small>
      </div>
    </div>
  </div>
  <div class="profil-description">
    <h5 class="mb-0">Mes informations</h5>
    <p><%=@user.last_name%> <%=@user.first_name%></p>
    <p><%=@user.city%></p>
    <p><%=@user.adress%></p>
    <p>+<%=@user.phone_number%></p>
    <p><%=@user.email%></p>
    <div class="btn-profil">
      <%= link_to 'Modifié Mon profile', edit_user_registration_path , class: "btn btn-outline-dark btn-sm m-2"%><br/>
      <%= link_to "Voir mes messages", conversation_messages_path(1), class: "btn btn-outline-dark btn-sm m-2" %>
    </div>
  </div>
</div>

<!--Mes oeuvres-->
<div class="my-art-all">
  <h4>Mes oeuvres</h4>
  <div class="my-art">
    <% Product.all.each do |i|%>
      <% if i.admin_id == @user.id%>
        <% if i.avatar.attached?%>
          <div class="one-art">
            <%= image_tag i.avatar, class:"img-my-art"%>
            <br/>
            <%= link_to "Modifier", edit_product_path(i.id) , class: "btn btn-dark btn-sm btn-art"%>
          </div>
        <% else %>
          <img src="<%=i.image_url%>" alt="">
        <% end %>
      <% end %>
    <% end %>  
  </div>
</div>

<!--Mes favoris -->
<div class="my-favorites-all">
  <h4>Mes favoris</h4>
  <div class="my-favorites">
    <% Like.all.each do |i|%>
      <%if i.user_id == @user.id %>
        <% Product.all.each do |j|%>
          <% if i.product_id == j.id %>
            <% if j.avatar.attached?%>
              <%= image_tag j.avatar, class: "img-my-art"%>
            <% else %>
              <img src="<%=j.image_url%>" alt="" class="img-my-art">
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<!--Mes locations-->
<div class="my-location-all">
  <h4>Mes locations</h4>
  <div class="my-location">
    <% OrderProduct.all.each do |i|%>
      <%if i.order.user.id == @user.id && i.product.status == "rented"%>
        <% if i.product.avatar.attached?%>
          <img src="<%= image_tag i.product.avatar%>" alt="" class="img-my-art">
          <!--ICI DECRIRE le produit-->
          <%if i.artist_confirmation == "validated"%>
            <p><%=((i.end_date - DateTime.now)/1.day).ceil%> jours restants  </p>
            <p>Expire le <%= i.end_date.day %>/<%=i.end_date.month%>/<%=i.end_date.year%></p> 
            <%= link_to "Prolonger/Acheter definitivement", line_products_path(id: i.product.id), class: "btn btn-primary", :method => 'POST' %>
          <%else%>
            <p><%=i.product.admin.nickname%> va vous contactez prochainement</p> 
          <%end%>  
        <% else %>
          <img src="<%=i.product.image_url%>" alt="" class="img-my-art">
          <%if i.artist_confirmation == "validated"%>
            <p><%=((i.end_date - DateTime.now)/1.day).ceil%> jours restants  </p>
            <p>Expire le <%= i.end_date.day %>/<%=i.end_date.month%>/<%=i.end_date.year%></p> 
            <%= link_to "Prolonger/Acheter definitivement", line_products_path(id: i.product.id), class: "btn btn-primary", :method => 'POST' %>
          <%else%>
            <p><%=i.product.admin.nickname%> va vous contactez prochainement</p> 
          <%end%>  
        <% end %>
      <%end%>
    <%end%> 
  </div>
</div>

<!--Mes Achats-->
<div class="my-order-all">
  <h4>Mes achats</h4>
  <div class="my-order">
    <% OrderProduct.all.each do |i|%>
      <%if i.order.user.id == @user.id && i.product.status == "sold"%>
        <% if i.product.avatar.attached?%>
          <%= image_tag i.avatar, class:"img-my-art"%>
        <% else %>
          <img src="<%=i.product.image_url%>" alt="" class="img-my-art">
        <% end %>
      <%end%>
    <%end%>
  </div>
</div>

<p>Gerer ses locations</p>

<%OrderProduct.all.each do |i|%>
  <% if i.product.status == "rented" && i.product.admin == current_user%>
    <% if i.product.avatar.attached?%>
      <%= image_tag i.product.avatar, class:"img-my-art"%>
      <%= link_to "je confirme avoir bien livrer cette oeuvre", order_product_path(i), method: :patch, data: {confirm: "Confirmez vous avoir bien reçu l'oeuvre ?"} , class: "btn btn-outline-dark btn-sm m-2 " %>
    <% else %>
      <img src="<%=i.product.image_url%>" alt="" class="img-my-art">
      <%= link_to "je confirme avoir bien livrer cette oeuvre", order_product_path(i), method: :patch, data: {confirm: "Confirmez vous avoir bien reçu l'oeuvre ?"} , class: "btn btn-outline-dark btn-sm m-2 " %>
    <% end %>
  <%end%>
<%end%>


<!------ Include the above in your HEAD tag ---------->

 <div class="container">
              <div class="row">
                <div class="col-xs-12 ">
                  <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Mes achats</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Mes locations</a>
                      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Mes favoris</a>
                    </div>
                  </nav>
                  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <div class="my-order">
                        <% OrderProduct.all.each do |i|%>
                          <%if i.order.user.id == @user.id && i.product.status == "sold"%>
                            <% if i.product.avatar.attached?%>
                              <%= image_tag i.avatar, class:"img-my-art"%>
                            <% else %>
                              <img src="<%=i.product.image_url%>" alt="" class="img-my-art">
                            <% end %>
                          <%end%>
                        <%end%>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="my-location">
                          <% OrderProduct.all.each do |i|%>
                            <%if i.order.user.id == @user.id && i.product.status == "rented"%>
                              <% if i.product.avatar.attached?%>
                                <img src="<%= image_tag i.product.avatar%>" alt="" class="img-my-art">
                                <!--ICI DECRIRE le produit-->
                                <%if i.artist_confirmation == "validated"%>
                                  <p><%=((i.end_date - DateTime.now)/1.day).ceil%> jours restants  </p>
                                  <p>Expire le <%= i.end_date.day %>/<%=i.end_date.month%>/<%=i.end_date.year%></p> 
                                <%else%>
                                  <%= link_to "je confirme avoir bien livrer cette oeuvre", order_product_path(i), method: :patch, data: {confirm: "Confirmez vous avoir bien reçu l'oeuvre ?"} , class: "btn btn-outline-dark btn-sm m-2 " %>
                                <%end%>  
                              <% else %>
                                <img src="<%=i.product.image_url%>" alt="" class="img-my-art">
                                <%if i.artist_confirmation == "validated"%>
                                  <p><%=((i.end_date - DateTime.now)/1.day).ceil%> jours restants  </p>
                                  <p>Expire le <%= i.end_date.day %>/<%=i.end_date.month%>/<%=i.end_date.year%></p> 
                                <%else%>
                                  <%= link_to "je confirme avoir bien livrer cette oeuvre", order_product_path(i), method: :patch, data: {confirm: "Confirmez vous avoir bien reçu l'oeuvre ?"} , class: "btn btn-outline-dark btn-sm m-2 " %>
                                <%end%>
                              <% end %>
                            <%end%>
                          <%end%> 
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                      <div class="my-favorites">
                        <% Like.all.each do |i|%>
                          <%if i.user_id == @user.id %>
                            <% Product.all.each do |j|%>
                              <% if i.product_id == j.id %>
                                <% if j.avatar.attached?%>
                                  <%= image_tag j.avatar, class: "img-my-art"%>
                                <% else %>
                                  <img src="<%=j.image_url%>" alt="" class="img-my-art">
                                <% end %>
                              <% end %>
                            <% end %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                    
                  </div>
                
                </div>
              </div>
        </div>
      </div>
</div>
