<div class="container">
  <div id="container">
    <h1 class="h1-edit">&bull; Changer de mot de passe &bull;</h1>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>
      <form action="#" method="post" id="contact_form">
        <div class="app-form-group mb-3">
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <br />
          <% end %>
          <%= f.password_field :password, placeholder: "Nouveau mot de passe", autocomplete:"off" , class:"phone mb-3" %>
        </div>    
        <div class=" app-form-group mb-3">
          <%= f.password_field :password_confirmation, placeholder: "Nouveau mot de passe", class:"phone" %>
        </div>
        <div class=" mb-3 d-flex justify-content-center flex-column">
          <%= f.submit "Modifier", id:"form_button"%>
        </div> 
        <%= render "devise/shared/links" %>
      </form>
    <% end %>
  </div>
</div>
