




<div class="container px-4 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-5">
            <h4 class="heading">Shopping Bag</h4>
        </div>
          
        <div class="col-7">
            <div class="row text-right">
                <div class="col-4">
                    <h6 class="mt-2">Style</h6>
                </div>
                <div class="col-4">
                    <h6 class="mt-2">Status</h6>
                </div>
                <div class="col-4">
                    <h6 class="mt-2">Prix</h6>
                </div>
            </div>
        </div>
        
        
    <%# --------CONTROLLER CARTS - METHOD SHOW %>


 <% @cart.line_products.each do |line_product| %>
     <div class="row d-flex justify-content-center border-top">
        <div class="col-5">
            <div class="row d-flex">
                <div class="book">
                    <img src="<%=line_product.product.image_url%>" class="book-img"> 
                </div>
                    <div class="my-auto flex-column d-flex pad-left">
                        <h6 class="mob-text"><%=line_product.product.title%></h6>
                        <p class="mob-text">Daniel Kahneman</p>
                        <%= link_to "", line_product_path(line_product), method: :delete, data: {confirm: "Êtes-vous sur de vouloir suppirmer l'article?"} , class:"fa fa-trash text-danger"%>
                    </div>
                </div>
            </div>
            <div class="my-auto col-7">
                <div class="row text-right">
                    <div class="col-4">
                        <p class="mob-text text-capitalize"><%=line_product.product.style%></p>
                    </div>
                    <div class="col-4">
                        <div class="row d-flex justify-content-end px-3">
                            <p class="mb-0 text-success"><%=line_product.product.status%></p>
                        </div>
                    </div>
                    <div class="col-4">
                        <h6 class="mob-text "><%= line_product.price %> €</h6>
                    </div>
                    <div class="col-4">
                        <ul>  
                            <li class="nav-item dropdown show" style="list-style-type: none; text-align: center;">
                                <%if line_product.to_buy == true%>
                                <a class="nav-link dropdown-toggle" style="list-style-type: none" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Acheter</a>
                                <%end%>
                                <%if line_product.to_buy == false%>
                                <a class="nav-link dropdown-toggle" style="list-style-type: none" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Louer</a>
                                <%end%>

                                <div class="dropdown-menu show">

                                <%if line_product.to_buy == true%>
                                    <a class="dropdown-item" ><%= link_to "Louer", line_product_path(line_product), method: :patch, style: "text-align: center;" %></a>
                                <%end%>

                                <%if line_product.to_buy == false%>
                                    <a class="dropdown-item" ><%= link_to "Acheter", line_product_path(line_product), method: :patch, style: "text-align: center;" %></a>
                                <%end%>    
                                
                            </li>
                        </ul>
                        </div>
                        </div>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

<% end %>

    <h3 class="float-right">Total: <%= number_to_currency(@cart.sub_total) %></h3>
         
     
    <% if @cart.line_products.length > 0 %>
        <%= link_to "Vider le panier", cart_path(@current_cart),method: :delete, data: {confirm: "Êtes-vous sur de vouloir suppirmer le panier?"}, class:"btn btn-danger " %>
    <% end %>
   <% if user_signed_in? && @cart.line_products.length > 0%>
        <% price = @cart.sub_total %> <%= button_to "PASSER COMMANDE", checkout_index_path(total: price), class: "btn btn-warning my-3", remote: true %> 
    <% end %>



<%# inspired by:https://bbbootstrap.com/snippets/shopping-cart-checkout-payment-options-86973257  %>

