
<div class="container">
  <div class="pb-5">
      <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
          <div class="table-responsive">
            <table class="table">
            <%# ------Column infos------- %>
              <thead>
              <h5 class="py-3 ">Détails de votre panier</h5>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Produit</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Prix</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Louer/Acheter</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Suppirmer</div>
                  </th>
                </tr>
              </thead>
              <%# ------Products infos------- %>
              <tbody>
              <% @current_cart.line_products.each do |line_product| %>
                <tr>
                  <th scope="row" class="border-0">
                    <div class="p-2">
                          <% if line_product.product.avatar.attached?%>
                            <%= image_tag line_product.product.avatar, class: "img-fluid rounded shadow-sm", width:"70"%>
                          <% else %>
                            <img src="<%=line_product.product.image_url%>" alt="" width="70" class="img-fluid rounded shadow-sm">
                          <%end %>
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0"> <a href="<%= product_path(line_product.product)%>" class="text-dark d-inline-block align-middle"><%=line_product.product.title%></a></h5><span class="text-muted font-weight-normal font-italic d-block" ><%=line_product.product.admin.nickname%> </span>
                         <%if line_product.to_buy == false && line_product.product.status == "rented"%>
                          <% i = line_product.product.order_products.last.end_date.advance(days: 30)%>
                          <span>Prolongez d'un mois jusqu'au <%= i.day %>/<%=i.month%>/<%=i.year%> !</span>
                         <%end%> 

                         <%if line_product.to_buy == true && line_product.product.status == "rented" %>
                         <span>Je ne veux plus m'en separer !</span>
                        <%end%>

                      </div>
                    </div>

                  </th>    

                  <%if line_product.to_buy == true && line_product.product.status == "rented" %>
                   <td class="border-0 align-middle"><strong><%= line_product.price %>€ /</strong></br><strike><%= line_product.product.price %></strike>€</td>
           
                  <%else%>
                  <td class="border-0 align-middle"><strong><%= line_product.price %>€</strong></td>
                  <%end%>
                
                  <td class="border-0 align-middle"><strong>                              
                  <div class="btn-group">

                  <%if line_product.to_buy == true%>
                    <button type="button" class="btn btn-primary text-light dropdown-toggle"  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Acheter 
                      <%else%>
                      <button type="button" class="btn btn-primary text-light dropdown-toggle"  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Louer 
                      <%end%>

                    </button>
                    <div class="dropdown-menu">
                      <%if line_product.to_buy == true%>
                        <%= link_to "Louer", line_product_path(line_product), method: :patch, style: "text-align: center;", class: " dropdown-item link-cards", remote: true %>
                        <%elsif line_product.to_buy == false%>
                      <%= link_to "Acheter", line_product_path(line_product), method: :patch, style: "text-align: center;", class: " dropdown-item link-cards", remote: true %>
                      <%end%>
                    </div>
                    </div>
                  </div>        

                  </strong></td>
                  <td class="border-0 align-middle"><%= link_to "", line_product_path(line_product), remote: true ,method: :delete, data: {confirm: "Êtes-vous sur de vouloir suppirmer l'article?"} , class:"fa fa-trash text-dark"%></td>
                </tr>
  
              <% end %>
              </tbody>
              <%# ------Products infos------- %>
            </table>
           
                    <div class="p-4">
                      <ul class="list-unstyled mb-4">
                      <% @current_cart.line_products.each do |line_product| %>
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-primary"><%=line_product.product.title%></strong><strong><%= line_product.price %> €</strong></li>
                      <% end %>
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-primary">Total</strong>
                        <h5 class="font-weight-bold"><%= number_to_currency(@current_cart.sub_total) %> </h5>
                      </li>
                    </ul>
                      
                    <div class="btns-checkout">

                       <% price = @current_cart.sub_total %> <%= button_to "PASSER COMMANDE", checkout_index_path(total: price) ,class: "btn-buy" , remote: true%> 
                      </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>



>