<div class="containt-taker">
  <div class="jumbotron jumbotron-fluid jumbotron-image shadow"  style="background-image: url(<%= asset_path 'artist.jpg' %>); ">
    <div class="container text-jumbo text-white">
      <p >Créez, partagez ... </p>
      <br/>
      <h1 class="text-white hone-jumbo"> VOS OEUVRES À L'HONNEUR SUR ARTFMR</h1>       
    </div>
  </div>

  <div class=" text-center py-3">
    <h2 class="mb-4 text-center"> UNE COMMUNAUTÉ PASSIONÉE ET CONNECTÉE</h2>
    <p class="text-center  mb-4 ">Chez ART FMR, notre état d'esprit est de mettre en avant nos artistes et leurs oeuvres d'une manière inédite. Nous avons mis en place une offre <br>
    unique consistant à vous mettre en relation avec les utilsateurs de la plateforme, par le biais d'un service de location ou d'achat.
    </p>
  </div>

  <div class="txt-owner text-center">
    <div >
      <div class="text-infos">
        <span class="material-icons mt-2">attractions</span>
        <h4>Prenez en main votre <br> activité </h4>
        <p>Exposez autant d'oeuvres que vous le <br> souhaitez depuis votre page artiste. <br> 
        Définissez si vous souhaitez vendre ou louer <br> puis votre tarif.</p>
      </div>
    </div>
    <div>
      <div class="text-infos">
        <span class="material-icons  mt-2">public</span>
        <h4>Vendez à l'international et <br> louez près de chez vous </h4>
        <p>Faites vos vente depuis chez vous, envoyez<br> vos oeuvres partout dans le monde. <br> 
          Gérez vos locations depuis votre espace personnel, <br> programmez vos rencontres.
        </p>
      </div>
    </div>
    <div >
      <div class="text-infos">
        <span class="material-icons  mt-2">wine_bar</span>
        <h4>Rencontrez votre clientèle </h4>
        <p>Exposez vos oeuvres directement chez vos <br> clients. Pour événement dans une gallerie, <br> 
        chez un particulier ou encore au <br> sein d'une entreprise.</p>
      </div>
    </div>
  </div>
</div>

  <div class="youtube mt-3">
    <h3 class=" text-center">DÉCOUVREZ NOTRE CONCEPT EN VIDÉO</h3><br/>
    <iframe width="700" height="350" src="https://www.youtube.com/embed/L7TADV2Pt5c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
      <br/>
      <br/>

    <%# ------ TEST BEST ARTISTS-------- %>
    <div class="container">
    <h2 class="text-center py-4 mt-3">Oeuvres déposées récemment</h2>
      <div id="carousel" class="carousel slide" data-ride="carousel">

<%# -----------Users Examples-------------- %>
      <% @product = Product.all.sample%>
      <% @product1 = Product.all.sample%>
      <% @product2 = Product.all.sample%>
<%# -----------Users Examples-------------- %>
        <div class="carousel-inner" role="listbox">
        <%# --------CAROUSEL ITEM 1------------ %>
          <div class="carousel-item active">
          <div class="img-jumbo" style="background-image: url(<%= @product1.image_url%>);"></div>
            <div class="caption d-flex text-left">
            <img src="<%= @product1.image_url%>" class="product p-0 m-2 mb-3">
            <div class="text-center text-white text-box-t">
              <h1><%= @product1.title %></h1>
              <h2>Artist: <span class="text-white font-weight-bold">@ Fred</span></h2>
               <%= link_to "S'inscrire", new_user_registration_path, class:"btn btn-warning mt-3 btn-call-action"%>
            </div>
            </div>
          </div>
          <%# --------CAROUSEL ITEM 2------------ %>
          <div class="carousel-item">
            <div class="img-jumbo" style="background-image: url(<%= @product.image_url%>);"></div>
            <div class="caption d-flex text-left ">
            <img src="<%= @product.image_url%>" class="product p-0 m-2 mb-3">
            <div class="text-center text-white text-box-t">
              <h1><%= @product.title %></h1>
              <h2>Artist: <span class="text-white font-weight-bold">@ Melvin</span></h2>
               <%= link_to "S'inscrire", new_user_registration_path, class:"btn btn-warning mt-3 btn-call-action"%>
            </div>
            </div>
          </div>
          <%# --------CAROUSEL ITEM 3------------ %>
          
         <div class="carousel-item">
            <div class="img-jumbo" style="background-image: url(<%= @product2.image_url%>);"></div>
            <div class="caption d-flex text-left">
            <img src="<%= @product2.image_url%>" class="product p-0 m-2 mb-3">
            <div class="text-center text-white text-box-t">
              <h1><%= @product2.title %></h1>
              <h2>Artist: <span class="text-white font-weight-bold">@ Théo</span></h2>
               <%= link_to "Inscrivez-vous", new_user_registration_path, class:"btn btn-warning mt-3 btn-call-action"%>
            </div>
            </div>
          </div>
        
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
    <%# ------ TEST BEST ARTISTS-------- %>

</div>