<div class="containt-taker">
    <div class="jumbotron jumbotron-fluid jumbotron-image shadow"  style="background-image: url(<%= asset_path 'kam-idris-_HqHX3LBN18-unsplash.jpg' %>); ">
      <div class="container text-jumbo text-white">
       <p class="dispear">Achetez, louez, découvrez, rencontrez ... </p><br/>
        <h1 class="text-white dispear"> L'ART QUI S'INVITE CHEZ VOUS</h1>       
    </div>
  </div>

  
  <div class=" py-3">
    <h2 class="mb-4 text-center text-white"> VOUS N'AVEZ JAMAIS ÉTÉ AUSSI PROCHES DES ARTISTES</h2>
    <p class="text-center  mb-4 text-white">Chez ART FMR, notre état d'esprit est de mettre en avant nos artistes et leurs oeuvres d'une manière inédite. Nous avons mis en place une offre <br>
    unique consistant à vous mettre en relation avec les artistes, par le biais d'un service de location ou d'achat.
    </p>
  </div>


      <div class="box-video">
        <div class="ml-2 mr-2 container-videos">
          <video width="100%" autoplay="autoplay" muted loop>
            <source src="https://vid-cdn.website-editor.net/f85fe6b440cf497d9a264857afbedeec/videos/ZKH7m2HR9ywRBWBFCtLw_INSTA%20-%20ART%20FMR1-v.mp4"/>
          </video>
        </div>

        <div class="mr-2 container-videos">
          <video  width="100%" autoplay="autoplay" muted loop >
            <source src="https://vid-cdn.website-editor.net/f85fe6b440cf497d9a264857afbedeec/videos/asnP8rTzSqafvgYnj2XG_INSTA%20-%20ART%20FMR2-v.mp4"/>
          </video>
        </div>     
        <div class="mr-2 container-videos">
          <video  width="100%" autoplay="autoplay" muted loop>
              <source src="https://vid-cdn.website-editor.net/f85fe6b440cf497d9a264857afbedeec/videos/QKeXKwJ7S6Cn1IC4w3Le_INSTA%20-%20ART%20FMR3-v.mp4" />
          </video>

        </div>
      </div>
<br/>
      <div class="text-video">
          <p class="text-center ml-3 text-white">Découvrez chaque jour de nouvelles oeuvres d'artistes <br> 
          venant du monde entier.</p>

          <p class="text-center ml-3 text-white">Louez des oeuvres d'artistes et <br> 
         rencontrez les à domicile lors de l'accrochage de l'oeuvre</p>

          <p class="text-center ml-3 text-white">Prolongez vos locations ou craquez <br> 
        immédiatement pour une oeuvre que vous ne voulez plus <br> quitter</p>
      </div>



    <div class="youtube" style="bottom: 20px ;top: 40px;">

            <h3 class="text-white text-center">DÉCOUVREZ NOTRE CONCEPT EN VIDÉO</h3><br/>
            <iframe width="700" height="350" src="https://www.youtube.com/embed/L7TADV2Pt5c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
      <br/>
      <br/>
      <br/>


    <div class="containt-best-artist" >
      <h3>Les oeuvres les plus convoitées</h3>
      <% @user = User.find_by(id: 4)%>
      <% @user1 = User.find_by(id: 3)%>
      <%@product = Product.find_by(id: 1)%>
      <%@product1 = Product.find_by(id: 7)%>
        <div class="containt-product-artist">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <a><img src="<%= @product.image_url%>" class="product p-0 m-2 mt-2"></a>
              </div>
              <div class="flip-card-back">
                    <h1><%= @user.nickname %></h1> 
                <p class="product-description"><%= @product.description %></p>
                
                <div class="bottom-card">
                 <p>
                  <%= link_to "En savoir plus", product_path(id: @product.id), class: "link-show-product" %>
                </p>
                </div>
              </div>
            </div>
          </div>

          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <a><img src="<%= @product1.image_url%>" class="product p-0 m-2 mt-2"></a>
              </div>
              <div class="flip-card-back">
                    <h1><%= @user1.nickname %></h1> 
                <p class="product-description"><%= @product1.description %></p>
                
                <div class="bottom-card">
                 <p>
                  <%= link_to "En savoir plus", product_path(id: @product1.id), class: "link-show-product" %>
                </p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="btn-paint">
      <%= link_to "Voir dans la galerie d'autre oeuvres",  products_path, class:"btn btn-secondary btn-taker" %>
    </div>
</div>