<div class="containt-taker">
  <div class="jumbotron jumbotron-fluid jumbotron-image shadow"  style="background-image: url(<%= asset_path 'kam-idris-_HqHX3LBN18-unsplash.jpg' %>); ">
    <div class="container text-jumbo text-white">
      <p class="dispear">Achetez, louez, découvrez, rencontrez ... </p><br/>
      <h1 class="text-white dispear"> L'ART QUI S'INVITE CHEZ VOUS</h1>       
    </div>
  </div>
  <div class=" py-3">
    <h2 class="mb-4 text-center"> VOUS N'AVEZ JAMAIS ÉTÉ AUSSI PROCHES DES ARTISTES</h2>
    <p class="text-center mb-4 ">Chez ART FMR, notre état d'esprit est de mettre en avant nos artistes et leurs oeuvres d'une manière inédite. Nous avons mis en place une offre <br>
    unique consistant à vous mettre en relation avec les artistes, par le biais d'un service de location ou d'achat.
    </p>
  </div>
  <div class="box-video">
    <div class="ml-2 mr-2 container-videos">
      <video width="100%" autoplay="autoplay" muted loop>
        <source src="https://vid-cdn.website-editor.net/f85fe6b440cf497d9a264857afbedeec/videos/ZKH7m2HR9ywRBWBFCtLw_INSTA%20-%20ART%20FMR1-v.mp4"/>
      </video>
    </div>
    <div class="mr-2 container-videos">
      <video  width="100%" autoplay="autoplay" muted loop >
        <source src="https://vid-cdn.website-editor.net/f85fe6b440cf497d9a264857afbedeec/videos/asnP8rTzSqafvgYnj2XG_INSTA%20-%20ART%20FMR2-v.mp4"/>
      </video>
    </div>     
    <div class="mr-2 container-videos">
      <video  width="100%" autoplay="autoplay" muted loop>
        <source src="https://vid-cdn.website-editor.net/f85fe6b440cf497d9a264857afbedeec/videos/QKeXKwJ7S6Cn1IC4w3Le_INSTA%20-%20ART%20FMR3-v.mp4" />
      </video>
    </div>
  </div>
  <br/>
  <div class="text-video">
    <p class="text-center ml-3 ">Découvrez chaque jour de nouvelles oeuvres d'artistes <br>venant du monde entier.</p>
    <p class="text-center ml-3 ">Louez des oeuvres d'artistes et <br> rencontrez les à domicile lors de l'accrochage de l'oeuvre</p>
    <p class="text-center ml-3 ">Prolongez vos locations ou craquez <br> immédiatement pour une oeuvre que vous ne voulez plus <br> quitter</p>
  </div>
  <div class="youtube" style="bottom: 20px ;top: 40px;">
    <h3 class="text-center">DÉCOUVREZ NOTRE CONCEPT EN VIDÉO</h3><br/>
    <iframe width="700" height="350" src="https://www.youtube.com/embed/L7TADV2Pt5c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <br/>
  <br/>
  <br/>
  <%# ------ TEST BEST ARTISTS-------- %>
  <div class="container">
    <h2 class="text-center mt-3 py-4">Les oeuvres les plus populaires</h2>
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <%# -----------Users Examples-------------- %>
      <% @product = Product.all.sample%>
      <% @product1 = Product.all.sample%>
      <% @product2 = Product.all.sample%>
      <%# -----------Users Examples-------------- %>
      <div class="carousel-inner" role="listbox">
        <%# --------CAROUSEL ITEM 1------------ %>
        <div class="carousel-item active">
          <div class="img-jumbo" style="background-image: url(<%= @product1.image_url%>);">
          </div>
          <div class="caption d-flex text-left">
            <img src="<%= @product1.image_url%>" class="product p-0 m-2 mb-3">
            <div class="text-center text-white text-box-t">
              <h1><%= @product1.title %></h1>
              <h2>Artist: <span class="text-white font-weight-bold">@ Fred</span></h2>
              <%= link_to "Découvrez la galerie", products_path, class:"btn btn-warning mt-3 btn-call-action"%>
            </div>
          </div>
        </div>
        <%# --------CAROUSEL ITEM 2------------ %>
        <div class="carousel-item">
          <div class="img-jumbo" style="background-image: url(<%= @product.image_url%>);">
          </div>
          <div class="caption d-flex text-left ">
            <img src="<%= @product.image_url%>" class="product p-0 m-2 mb-3">
            <div class="text-center text-white text-box-t">
              <h1><%= @product.title %></h1>
              <h2>Artist: <span class="text-white font-weight-bold">@ Boris</span></h2>
              <%= link_to "Découvrez la galerie", products_path, class:"btn btn-warning mt-3 btn-call-action"%>
            </div>
          </div>
        </div>
        <%# --------CAROUSEL ITEM 3------------ %>
        <div class="carousel-item">
          <div class="img-jumbo" style="background-image: url(<%= @product2.image_url%>);">
          </div>
          <div class="caption d-flex text-left">
            <img src="<%= @product2.image_url%>" class="product p-0 m-2 mb-3">
            <div class="text-center text-white text-box-t">
              <h1><%= @product2.title %></h1>
              <h2>Artist: <span class="text-white font-weight-bold">@ Théo</span></h2>
                <%= link_to "Découvrez la galerie", new_user_registration_path, class:"btn btn-warning mt-3 btn-call-action"%>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
    <%# ------ TEST BEST ARTISTS-------- %>

