
 
<div class="row text-center d-flex justify-content-center">
  <% @products.each do |product| %>
           <div class="product-img all-product"> 
             <a href="<%= product_path(id: product.id) %>" class="card-clic">
             <% if product.avatar.attached?%>
             
             <a href="<%= product_path(id: product.id)%>"true"><%= image_tag product.avatar, class:"product p-0 m-2"%></a>
             <div class="product-action">
                <div class="product-action-style">
                    <a href=""> <i class="fa fa-heart"></i> </a> 
                     <% if product.status == "available" %>
                    <a href="<%= line_products_path(product_id: product.id)%>"> <i class="fa fa-shopping-cart"></i> </a> 
                      <%end%>
                </div>
            </div>
           </div>
            <% else %>
            <a href="<%= product_path(id: product.id)%>"true"><img src="<%= product.image_url%>" class="product p-0 m-2 mt-2"></a>
            <div class="product-action">

                <div class="product-action-style" >
                <% if user_signed_in? %>
                   <% pre_like = product.likes.find { |like| like.user_id == current_user.id} %>
                    <% if pre_like %>
                        <%= link_to product_like_path(product, pre_like), method: :delete do %>
                         <%= product.likes.count %>   <i class="fa fa-heart" aria-hidden="true" style="color: red; backgound-color: none;"></i>
                        <% end %>
                    <% else %>
                        <%= link_to  product_likes_path(product), method: :post do %>
                          <%= product.likes.count %>   <i class="fa fa-heart" aria-hidden="true" style="color: black;backgound-color: none;"></i>
                        <% end %>
                    <% end %>
                <% else %>
                   <p> <%= product.likes.count%>   <i class="fa fa-heart" aria-hidden="true" style="color: black; "></i></p>
                <% end %>
                  <% if product.status == "available" %>
                    <%= link_to "", line_products_path(id: product.id), method: :post, class:"fa fa-shopping-cart"%>
                  <%end%>
                </div>
            </div>
           </div>
           
            <%end %>
        <%end%>
</div>

