
 
<div class="row text-center d-flex justify-content-center">
  <% @products.each do |product| %>
           <div class="product-img all-product"> 
             <a href="<%= product_path(id: product.id) %>" class="card-clic">
             <% if product.avatar.attached?%>
             
             <a href="<%= product_path(id: product.id)%>"true"><%= image_tag product.avatar, class:"product p-0 m-2"%></a>
             <div class="product-action">
                <div class="product-action-style">
                    <a href=""> <i class="fa fa-heart"></i> </a> 
                    <a href="<%= line_products_path(product_id: product.id)%>"> <i class="fa fa-shopping-cart"></i> </a> 
                </div>
            </div>
           </div>
            <% else %>
            <a href="<%= product_path(id: product.id)%>"true"><img src="<%= product.image_url%>" class="product p-0 m-2"></a>
            <div class="product-action">
                <div class="product-action-style">
                <a href=""> <i class="fa fa-heart"></i> </a> 
                <% if product.status == "Available" %>
                    <%= link_to "YO", line_products_path(id: product.id), method: :post %>
                    <%end%>
        
      
                </div>
            </div>
           </div>
            <%end %>
        <%end%>
</div>