<h2 class="text-center">Nos produits</h2>


<% @products.each do |product| %>
 <p><%= image_tag product.avatar%></p>
  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">

    <div class="card-header"><%= product.title %></div>
    <div class="card-body">
    
      <p class="card-text"><%= product.description %></p>
    </div>
  </div>
<% end%>



<div class="all-product col-12 text-center">
  <% @products.each do |product| %>
    <a href="<%= product_path(id: product.id) %>" class="card-clic">
      <img src="<%= product.image_url%>" alt="" class="product m-0 p-0">
    </a>
  <% end%>
</div>
