



    


<div class="container-fluid contain-jumbo-index">
  <div class="jumbotron jumbotron-fluid jumbo-index">
    <h2 class="text-center">Oeuvres en vente ou location sur ARTFMR</h2>
  </div>
  
    <div class='form-search'>  
      <%= form_tag(products_path, method: :get) do %>
      <div class="form-query">
      <h5>Chercher par ville: </h5>
        <%= text_field_tag :query%>
        </div>
        <%= submit_tag ("Rechercher"), class: "btn-search" %>
      <% end %>
    </div>
  
  <div class="row d-flex justify-content-center mt-0">
    <% @products.each do |product| %>
      <div class="card" style="width: 18rem;">
        <% if product.avatar.attached?%>
          <a href="<%= product_path(id: product.id)%>">
            <img class="card-img-top" src="<%= product.avatar%>" alt="Card image cap">
          </a>
        <% else %>
          <a href="<%= product_path(id: product.id)%>">
            <img class="card-img-top" src="<%= product.image_url%>" alt="Card image cap">
          </a>
        <% end %> 
        <div class="card-body">
          <% @users.each do |user|%>
            <% if user.id == product.admin_id%>
              <p class="font-weight-bold"><%= user.nickname%></p>
            <% end %>
          <% end %>
          <p class="font-italic" >
            <%= product.title%>
          </p>
          <p class="font-italic"><%= product.height%>
            x <%= product.width%> x 
          <%= product.depth%></p>
          <p>
            <%= product.style%>
          </p>
          <p class="text-right">
            <%= product.price%> €
          </p>
          <div class="like-index">
            <% if user_signed_in? %>
              <% pre_like = product.likes.find { |like| like.user_id == current_user.id} %>
              <% if pre_like %>
                <%= link_to product_like_path(product, pre_like), class:"btn-heart text-dark",method: :delete, remote: true do %>
                <%= product.likes.count %><i class="fa fa-heart " aria-hidden="true" style="color: red; backgound-color: none;float:bottom;"></i>
              <% end %>
            <% else %>
              <%= link_to  product_likes_path(product), class:"btn-heart text-dark",method: :post, remote: true do %>
              <%= product.likes.count %>   <i class="fa fa-heart " aria-hidden="true" style="color: black;backgound-color: none;float:bottom;"></i>
            <% end %>
          <% end %>
        <% else %>
        <%= product.likes.count%>   <i class="fa fa-heart" aria-hidden="true" style="color: black;backgound-color: none;float:bottom;" ></i>
      <% end %>
          </div>
          </div>
        </div>
      <% end %>
    </div>
</div>