<%= form_for(@product) do |f| %>

  <p>
    <%= f.file_field :avatar,  class:'form-control input-normal' %>
  </p>
  <p>
    <%= f.label "5 a 140" %><br>
    <%= f.text_field :title, autofocus: true, placeholder: "Title" %>
  </p>
  <p>
    <%= f.label "20 a 140" %><br>
    <%= f.text_field :description, placeholder: "Title" %>
  </p>
   <p>
    <%= f.label :category %><br>
    <%= f.text_field :category, placeholder: "Title" %>
  </p>
  <p>
    <%= f.label "style" %><br>
    <%= f.text_field :style, placeholder: "Title" %>
  </p>
   <p>
    <%= f.label "min 70" %><br>
    <%= f.text_field :height, placeholder: "Title" %>
  </p>
   <p>
    <%= f.label "min 70" %><br>
    <%= f.text_field :width, placeholder: "Title" %>
  </p>
  <p>
    <%= f.label "integer" %><br>
    <%= f.text_field :depth, placeholder: "Title" %>
  </p>
   <p>
    <%= f.label :weight %><br>
    <%= f.text_field :weight, placeholder: "Title" %>
  </p>
   <p>
    <%= f.label "status" %><br>
    <%= f.text_field :status, placeholder: "Title" %>
  </p>
   <p>
    <%= f.label :price %><br>
    <%= f.number_field :price, placeholder: "Title" %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
