<h1 class="text-center"><%=@product.title%></h1>
<div class="show-product">
  <div>
    <p>
      <% if @product.avatar.attached?%>
      <%= image_tag @product.avatar, class: "show-img"%>
    </a>
    <% else %>
      <img src="<%= @product.image_url%>" class="show-img">
    </a>
    <%end %>
    </p>
  </div>
  <div>
    <p>Titre : <%=@product.title%></p>
    <p>Description : <%=@product.description%></p>
    <p>Categorie : <%=@product.category%></p>
    <p>Style : <%=@product.style%></p>
    <p>Hauteur : <%=@product.height%></p>
    <p>Largeur : <%=@product.width%></p>
    <p>Profondeur : <%=@product.depth%></p>
    <p>Poids : <%=@product.weight%></p>
    <p>Etat : <%=@product.status%></p>
    <p><%= link_to "Ajouter au panier", line_products_path(product_id: @product), class: "btn-sm btn-primary", :method => 'POST' %></p>

  </div>
</div>
