<div class="container ">
  <div class="show-product ">
    <% if @product.avatar.attached?%>
      <%= image_tag @product.avatar, class: "show-img"%>
    <% else %>
      <img src="<%= @product.image_url%>" class="show-img">
  <%end %>

  <div class="square">
  <div class="square"></div> 



<div class="container box-content">
      <% @user.each do |user|%>
        <% if user.id == @product.admin_id%>
          <h6 class=" font-weight-bold ml-2"> Par <%= link_to user.nickname, user_path(user), style: "color: black;"%></h6> 
        <% end %>
      <% end %>
                 
      <h5 class=" title-text-sp ml-2"> <%=@product.title%></h5>
      <p class=" box-text ml-2 mt-3"><%=@product.description%></p>

      <% if @product.status == "available" %>
        <%= link_to "Disponible", @product.status , class:"btn-sm btn-success btn-static card-status "%>
      <% elsif @product.status == "rented"%>
        <%= link_to "Loué", @product.status , class:"btn-sm btn-info card-status"%>
      <% else %>
        <%= link_to "Vendu", @product.status , class:"btn-sm btn-danger card-status"%>
      <%end%>


      <div class="ul-show-product d-flex flex-column ml-2">
        <h6>Fiche technique de l'oeuvre : </h6>
          <ul class="del-li">
            <li><span class="font-weight-bold">Catégorie: </span> <%=@product.category%></li>
            <li><span class="font-weight-bold">Poids: </span> <%=@product.weight%> kg</li>
            <li><span class="font-weight-bold">Hauteur: </span><%=@product.height%>cm</li>
            <li><span class="font-weight-bold">Largeur: </span><%=@product.width%>cm</li>
            <li><span class="font-weight-bold">Prodondeur: </span><%=@product.depth%>cm</li>
            <% if @product.border_product == true%>
              <li><span class="font-weight-bold">Encadrée: </span>Oui</li>
            <%else%>
              <li><span class="font-weight-bold">Encadrée: </span>Non</li>
            <%end%>
            <% if @product.authenticable_product == false %>
            <li><span class="font-weight-bold">Certifié:</span> Non</li>
            <% elsif @product.authenticable_product == true%>
              <li><span class="font-weight-bold">Certifié:</span> Oui</li>
            <%end%>
          </ul>

      <div class="box-price float-right">
        <p>Prix de vente : <span class="price-p font-weight-bold"><%=@product.price%>€</span></p>
        <p>Prix de location : <span class=" price-p font-weight-bold">50€/mois</span></p>
      </div>
      </div>
      
      <div class="btn-show-product float-right ">
        <div><%= link_to "retour", products_path, class:"btn btn-dark mr-2"%></div>
        <% if @product.status == "available" %>
        <div><%= link_to "Ajouter au panier", line_products_path(id: @product), class: "btn btn-primary", :method => 'POST' %></div>
      <%end%>
      </div>
        
</div>
</div>
</div>
</div>
</div>
