<div class="m-5">
  <div class="show-product ">
    <a href="<%= products_path %>" class="arrow-back"><img src="https://img.icons8.com/windows/32/000000/long-arrow-left.png"/></a>
    <% if @product.avatar.attached?%>
        <%= image_tag @product.avatar, class:"show-img" %>
    <% else %>
      <img src="<%= @product.image_url%>" class="show-img">
    <%end %>
    <div class="card-show">
      <div class="card-body  justify-content-center flex-column">
        <% @user.each do |user|%>
          <% if user.id == @product.admin_id%>
            <h6 class=" font-weight-bold  "> Par <%= link_to user.nickname, user_path(user), style: "color: black;"%></h6> 
          <% end %>
        <% end %>              
        <h5 class=" title-text-sp "> <%=@product.title%></h5>
        <p class=" box-text mb-5"><%=@product.description%></p>
        <hr>
        <p class=" box-price "><%=@product.price%> €<br>50 €/mois</p><br/> 
        <% if @product.status == "available" %>
          <%= link_to "Ajouter au panier", line_products_path(id: @product), class: "btn-buy btn-pay ml-4 mt-5", :method => 'POST' %>
        <%end%>
      </div>
      <% if @product.status == "available" %>
        <%= link_to "Disponible", @product.status , class:"btn-sm btn-success btn-static card-status "%>
      <% elsif @product.status == "rented"%>
        <%= link_to "Loué", @product.status , class:"btn-sm btn-info card-status"%>
      <% else %>
        <%= link_to "Vendu", @product.status , class:"btn-sm btn-danger card-status"%>
      <%end%>    
    </div>
  </div>
  <div class="box-infos text-right mb-5">
    <div>
      <h3 class=" font-weight-bold ml-2 mt-3 text-left"> Tout savoir sur l'oeuvre</h3>
    </div>      
    <div class="hr-infos d-flex justify-content-between">
      <p class=" font-weight-bold ml-2 mt-3"> Titre</p>
      <p class=" box-text ml-2 mt-3"><%=@product.title%></p>
    </div>
    <div class="hr-infos d-flex justify-content-between">
      <p class=" font-weight-bold ml-2 mt-3"> Descritpion</p><br/><br/>
      <p class=" box-text ml-2 mt-3"><%=@product.description%></p>
    </div>
    <div class="hr-infos d-flex justify-content-between">
      <p class=" font-weight-bold ml-2 mt-3"> Dimension</p>
      <p class=" box-text ml-2 mt-3"><%= @product.height%> x <%= @product.width%> x <%= @product.depth%></p>
    </div>
    <div class="hr-infos d-flex justify-content-between">
      <p class=" font-weight-bold ml-2 mt-3"> Type</p>
      <p class=" box-text ml-2 mt-3"><%=@product.style%></p>
    </div>
    <div class="hr-infos d-flex justify-content-between">
      <p class=" font-weight-bold ml-2 mt-3"> Encadrement</p>
      <% if @product.border_product == false %>
        <p class=" box-text ml-2 mt-3"> Non </p>
          <% elsif @product.border_product == true%>
        <p class=" box-text ml-2 mt-3">  Oui</p>
      <% end %>
    </div>
    <div class="hr-infos d-flex justify-content-between">
      <p class=" font-weight-bold ml-2 mt-3"> Certifiée</p>
      <% if @product.authenticable_product == false %>
        <p class=" box-text ml-2 mt-3"> Non </p>
          <% elsif @product.authenticable_product == true%>
        <p class=" box-text ml-2 mt-3">  Oui</p>
      <% end %>
    </div>
  </div>
</div>
  